extends layout

block content
  .main
  nav
    ul.main-nav
      li
        a(href='#', class='blue', value="blue") Blue
      li
        a(href='#', class='red', value="red") Red
      li
        a(href='#', class='green', value="green") Green
      li
        a(href='#', class='yellow', value="yellow") Yellow
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  // クライアント用のプログラム
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript').
    var socket = io();
    $(function () {
      $('a').on('click',function(event){
        console.log($(this).attr("value"));
        socket.emit('color message', $(this).attr("value"));

        event.preventDefault();
        event.stopPropagation();
        return false;
      });

      // 値を受け取ります。
      socket.on('color message', function(msg){
        $('.main').append('<li class="'+msg+'">'+'</li>');
        $('.main').scrollTop($('.main')[0].scrollHeight);

      });

    });
